@tailwind base;
@tailwind components;
@tailwind utilities;

.app-header {
  font-family: "Cormorant Infant";
}

p,
div,
.app-text {
  font-family: "Josefin Sans";
}

.app-pattern {
  right: -80px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}